<%- include("header") -%>


    <div class="row">
        <div class="col">
            <h1 class="page-title">About us</h1>
            <p class="justify">
                <%= aboutContent %>
            </p>
        </div>
    </div>

<%- include("footer") -%>